# .NET / ASP.NET Core
**/bin/
**/obj/
**/out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.swp
*.DS_Store

# Publicación
**/publish/
**/Properties/launchSettings.json

# Variables de entorno
.env
.env.local
.env.production
.env.*.local


.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini